h1 {
    color: white;
    font-size: 36px;
    letter-spacing: 0.13cm;
}

* {
    color: white;
}

.part1 {
    display: flex;
    width: 85%;
    margin-top: 120px;
    margin-left: 100px;
}

.part1 img{
    width: 380px;
}

.aboutme {
    margin-left: 130px;
}

h2 {
    font-size: 30px;
    letter-spacing: 0.1cm;
}

p {
    font-size: 22px;
    text-align: left;
    line-height: 42px;
    margin-top: 45px;
    font-weight: 400;
}

.part2 {
    display: flex;
    width: 85%;
    margin-top: 120px;
    margin-left: 100px;
}

.part2 p {
    margin-left: 300px;
    margin-top: 15px;
    font-size: 25px;
}

.part3 {
    display: flex;
    width: 85%;
    margin-top: 120px;
}

.part3 img {
    width: 700px;
    height: 760px;
    object-fit: cover;
}